@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans';
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.back-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11.5px;
    margin-left: 15px;
    margin-top: 8px;
}

.back-btn img {
    width: 10px;
    height: 10px;
}

.back-btn span {
    width: 31px;
    height: 20px;

    /* Subtitle 2 - Medium */

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    /* Dark Neutrals/Neutral-800 */

    color: #172B4D;


}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main-container {
    /* background: orange; */
    position: relative;
    width: 360px;
    /* height: 640px; */
    padding: 16px;
    margin: auto;
    min-height: 640px;
    background: #FFFFFF;

}

.body {
    display: flex;
    flex-direction: column;

}

.header-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    gap: 8px;
    /* background-color: orange; */
    margin-bottom: 10px;
}

.header-txt p {
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
}


.input-field {
    width: 100%;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

/* Convert font sizes in rem */
.input-field label {
    width: 100%;
    height: 20px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 20px; */
    color: #172B4D;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.input-field input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B3BAC5;
    font-weight: 100;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.big {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height: auto;
    cursor: pointer;
}

.form {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    /* Light Neutrals/Neutral-000 */


}


.conditional {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;
    /* background-color: orange; */
}



.card {
    cursor: pointer;
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    padding: 16px 24px 16px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 8px;

}

.cardactive {
    cursor: pointer;
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    padding: 16px 24px 16px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #388BF2;
    border-radius: 8px;

}


.card-content {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

}

.radio {
    display: flex;
}

.card-detail {

    display: flex;
    flex-direction: column;
    /* z-index: 1000; */

}

.card:hover {
    background: #F4F5F7;
    border: 1px solid #DFE1E6;
    border-radius: 8px;


}

.card:focus {
    border: 2px solid #388BF2;
    border-radius: 8px;
}

.logo-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;


}


.logo-detail img {
    width: 30px;
    height: 15px;
}

.logo-detail p {
    width: 100%;
    height: 20px;
    margin: 0;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;


    color: #172B4D;

}

.logo-subtitle {

    margin: 0;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 390;
    font-size: 12px;
    line-height: 16px;
    text-align: flex-start;
    letter-spacing: 0.0025em;
    color: #172B4D;
}

.footer-comp {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin-top: 16px;

}

.footer-comp span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

}

.footer-comp label {
    width: 100%;
    height: 20px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #172B4D;
    flex: none;
    /* background-color: #2BB792; */
    order: 0;


    flex-grow: 0;


}

/* .num-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex-wrap: wrap;
} */
.sizebuttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.sizebuttons .button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    font-weight: 300;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
}

.buttonactive {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    background: #EBF3FE;
    border: 2px solid #388BF2;
    border-radius: 8px;
    font-weight: 300;
}















/* .num-btn button:hover {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;

    background: #EBF3FE;


    border: 2px solid #388BF2;
    border-radius: 8px;

} */

.footer-button:hover {
    background: #1F8268;

}

.footer-button:disabled {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    margin-top: 24px;
    background: #DFE1E6;
    border-radius: 4px;

}

.footer-button:enabled {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    margin-top: 24px;
    background: #2BB792;
    border-radius: 4px;
}

.footer-button:enabled span {
    width: 66px;
    height: 24px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;


    color: #FFFFFF;




    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-button:disabled span {
    width: 66px;
    height: 24px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #B3BAC5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;

}

/* css for desktop */
@media only screen and (min-width: 768px) {
    .main-container {
        /* background: orange; */
        position: relative;
        width: 688px;
        padding: 16px;
        margin: auto;
        min-height: 348px;
        background: #FFFFFF;

    }

    .input-field {
        width: 100%;
        margin-top: 24px;
        /* background-color: ; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        /* background-color: orange; */
        gap: 8px;
    }

    /* Convert font sizes in rem */
    .input-field label {
        width: 100%;
        height: 20px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #172B4D;
        flex: none;
        /* background-color: #2BB792; */
        order: 0;
        margin-left: 56px;

        flex-grow: 0;

    }

    .input-field input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 12px;
        gap: 10px;
        width: 544px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #B3BAC5;
        border-radius: 4px;
        flex: none;
        font-weight: 100;
        margin-left: 56px;
        order: 1;
        flex-grow: 0;

    }

    .footer-button:hover {
        background: #1F8268;

    }

    .footer-button:disabled {
        width: 544px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;

        margin-top: 24px;
        margin-left: 56px;
        background: #DFE1E6;
        border-radius: 4px;

    }

    .footer-button:enabled {
        width: 544px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        margin-top: 24px;
        margin-left: 56px;
        background: #2BB792;
        border-radius: 4px;
    }

    .footer-button:enabled span {
        width: 66px;
        height: 24px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;


        color: #FFFFFF;




        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .footer-button:disabled span {
        width: 66px;
        height: 24px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #B3BAC5;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .conditional {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px;
        gap: 8px;
        margin-left: 56px;
        max-right: 56px;

        /* background-color: orange; */
    }

    .card {
        cursor: pointer;
        display: flex;
        height: 132px;
        width: 264px;
        align-items: flex-start;
        padding: 16px 24px 16px 16px;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #DFE1E6;
        border-radius: 8px;


    }

    .cardactive {
        cursor: pointer;
        display: flex;
        height: 132px;
        width: 264px;
        align-items: flex-start;
        padding: 16px 24px 16px 16px;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #388BF2;
        border-radius: 8px;


    }


    .big {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .card-detail {

        display: flex;
        flex-direction: column;
        gap: 5px;

        flex-wrap: nowrap;
        align-items: center;


    }

    .logo-detail {
        display: flex;
        flex-direction: column;
    }

    .logo-detail img {
        height: 30px;
        width: 28px;
    }



    .logo-subtitle {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-weight: 390;
        font-size: 12px;

    }

    /* logo is remaning here */

    .footer-comp {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px;
        gap: 8px;
        margin-top: 16px;
        margin-left: 56px;

    }

    .footer-comp span {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;

    }

    .num-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        flex-wrap: wrap;
    }

    .num-btn button {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        gap: 10px;

        background: #FFFFFF;


        border: 1px solid #DFE1E6;
        border-radius: 8px;

    }

    .num-btnactive button {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        gap: 10px;

        background-color: #EBF3FE;

        border: 2px solid #388BF2;

        border-radius: 8px;

    }



    .num-btn button:hover {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        gap: 10px;




        border: 2px solid #388BF2;
        border-radius: 8px;

    }

    .sizebuttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }

    .sizebuttons .button {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        gap: 10px;
        font-weight: 300;
        background: #FFFFFF;
        border: 1px solid #DFE1E6;
        border-radius: 8px;
    }

    .buttonactive {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        gap: 10px;
        background: #EBF3FE;
        border: 2px solid #388BF2;
        border-radius: 8px;
        font-weight: 300;
    }



}